uma_sm.pt filter=lfs diff=lfs merge=lfs -text
uma-env/largefile.bin filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libc10.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libcaffe2_nvrtc.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libtorch.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libtorch_cpu.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libtorch_global_deps.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libc10_cuda.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libshm.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libtorch_cuda.so filter=lfs diff=lfs merge=lfs -text
/home/hiruneko/anaconda3/pkgs/libtorch-2.4.1-cuda118_h7d43891_300/lib/libtorch_cuda_linalg.so filter=lfs diff=lfs merge=lfs -text
